html {
    background-color: grey;
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 30px;
    color: black;
}
h1 {
    margin: auto;
    border-color: indigo;

}
article{
    padding:30px; 
    margin: 30px;
}
article:nth-of-type(1) {
   flex: 1;
}
article:nth-of-type(2) {
    flex:3; 

}
article:nth-of-type(3) {
    flex:1; 

}
section{
    background-color: crimson;
    display:flex; 
}
.contain{

    background:aqua; 
    height: 30px;
    width: 20px;
    float:left;
    margin-right: 15px;
}
.sticky {
    background: darkcyan;
    position: sticky;
    top: 0;
}

p {

   font-size: larger; 
   padding: 10px;
 }
#blog {

    border-top: 1px dotted;

}
.blog-post {
    border-color: indigo;
}
h2 {
    border-color: indigo;
}
#nav {
    border: indigo;
}
li {
    border: indigo;
}

