html {
    background-color: grey;
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 30px;
    color: black;
}
h1 {
    margin: auto;
    border-color: indigo;

}

p {

   font-size: larger; 
   padding: 10px;

}
#blog {

    border-top: 1px dotted;

}
.blog-post {
    border-color: indigo;
}
h2 {
    border-color: indigo;
}
#nav {
    border: indigo;
}
li {
    border: indigo;
}